*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    margin:auto;

}

.prodotti {
    height: 280px;
    width: 250px;
    border: 2px inset darkorange;
    margin: 5px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#cuffie {
    background-image: url(cuffie.jpg);
}

#camera {
    background-image: url(camera.jpg)
}

#smartphone {
    background-image: url(smartphone.jpg);
}

#computer {
    background-image: url(computer.jpg);
}
#mouse {
    background-image: url(mouse.jpg);
}

#ps4 {
    background-image: url(ps4.jpg);
}

i {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    display: none;
}

span:hover i {
    display: block;
}
