*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section {
    position:relative;
    margin-left: 5px;
    margin-top: 5px;
}

.prodotti {
    height: 300px;
    width: 250px;
    border: 2px inset darkorange;
    margin-left: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
}

p {
    text-align: center;
    font-weight: bold;
    background-color: orange;
    width: 20%;
    padding: 2%;
    border: 1px solid black;
    margin-right: 0px;
    left: 80%;
    position:absolute;
}

.sconti-alti {
    background-color: red;
}

#cuffie {
    background-image: url(cuffie.jpg);
}

#camera {
    background-image: url(camera.jpg)
}

#smartphone {
    background-image: url(smartphone.jpg);
}

#computer {
    background-image: url(computer.jpg);
}
#mouse {
    background-image: url(mouse.jpg);
}

#ps4 {
    background-image: url(ps4.jpg);
}

i {
    color: red;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.prodotti:hover i {
    opacity: 1
}
